div#notificationsCont {
    min-height: 379px;
}

div#notificationsCont div#notificationsTitleCont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    width: fit-content;
    margin: 0px auto 6px auto;
}

div#updateNotificationsCont {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
}

div#allNotificationsCont {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

div#allNotificationsCont h4 {
    font-size: 17px;
    margin: 0px 0px 2px 0px;
}