div#notificationsCont {
    width: 80%;
    max-width: 320px;
    min-height: 379px;
    margin: auto;
    padding: 25px 17px;
    background-color: var(--backgroundBox);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.28);
}

div#notificationsCont div#notificationsTitleCont {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    width: fit-content;
    margin: 0px auto 6px auto;
}

div#notificationsCont div#notificationsTitleCont svg {
    width: clamp(25px, 4vw, 30px);
    fill: var(--mainRed);
}

div#notificationsCont h3 {
    font-size: clamp(20px, 3.5vw, 25px);
    margin: 0px;
}

div#updateNotificationsCont {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 25px;
}

div#updateNotificationsCont svg {
    fill: rgb(72, 72, 72);
    width: clamp(18px, 3vw, 20px);
}

div#updateNotificationsCont small {
    color: rgb(72, 72, 72);
    font-size: clamp(13px , 2.5vw, 15px);
}

div#allNotificationsCont {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

div#allNotificationsCont h4 {
     font-size: clamp(17px, 3vw, 19px);
    margin: 0px 0px 2px 0px;
}

div#allNotificationsCont p {
    font-size: clamp(16px, 3vw, 17px);
    margin: 0px;
}