#staffDetailsCont {
    min-height: 277px;
}

div#employeeDetailsCont {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-height: 49px;
}

small#employeeWard {
    font-style: italic;
}

p#employeeDetails {
    font-size: 26px;
}

p#roleDetails {
    margin: 30px 0px 10px 0px;
}

div#employeeContactsCont {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

div#employeeMailCont,
div#employeePhoneCont {
    display: flex;
    align-items: center;
    gap: 8px;
}

div#employeeMailCont svg,
div#employeePhoneCont svg {
    fill: var(--mainRed);
    width: 22px;
}

div#employeeMailCont p,
div#employeePhoneCont p {
    margin-bottom: 1px;
}