div#financeChartMainCont svg {
    outline: none;
}

small#lastMonthsFinance {
    display: block;
    width: fit-content;
    margin: auto;
    position: relative;
    bottom: 11px;
    left: 0px;
    z-index: 0;
}