#githubCont {
    margin: 1.8rem 0px 7px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

footer {
    margin: 5rem 15px 2.4rem 15px;
    text-align: center;
}

footer p,
footer a {
    font-style: italic;
    font-size: 16px;
    color: var(--textColor);
    margin: 0px;
}

footer p:first-child {
    margin-bottom: 7px;
}

footer svg {
    fill: var(--textColor);
    width: 27px;
    transition: fill 0.7s ease;
}