#staffCrudCont {
    min-height: 243px;
}

#staffCrudCont p#staffCrudDescription {
    margin-top: 10px;
    text-align: center;
}

#staffCrudCont p#staffCrudFeatures {
    font-size: 18px;
    text-align: center;
    margin: 35px auto 0px auto;
}

#staffCrudCont #staffCrudActionsCont {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 8px;
}

#staffCrudCont #staffCrudActionsCont button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: var(--mainRed);
    border: none;
    border-radius: 5px;
}

#staffCrudCont #staffCrudActionsCont button:active {
    background-color: rgb(121, 36, 25);
}

#staffCrudCont #staffCrudActionsCont svg {
    width: 27px;
    fill: white;
}