/* Global styles */

* {
    box-sizing: border-box;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

.smoothSettingsSelectors {
    transition: border-radius 0.7s ease,
        background-color 0.7s ease,
        color 0.7s ease;
}

:root {
    --scaleBtn: 0.94;
}

html.light {
    --fadingWhite: rgb(255, 255, 255);
    --userBorder: #ffffff;
    --mainRed: #ae2626;
    --mainRedHover: #c72b2b;
    --mainRedActive: #8c1e1e;
    --secondaryRed: #c2241f;
    --pressSecondaryRed: #a31f1a;
    --hoverSecondaryRed: #d12629;
    --bgColor: #F9F9F9;
    --boxStyleBg: #efefef;
    --logoColor: rgb(47, 47, 47);
    --textColor: rgb(0, 0, 0);
    --smallColorBlack: rgba(0, 0, 0, 0.7);
    --smallColorWhite: rgba(255, 255, 255, 0.66);
    --inputBg: rgb(255, 255, 255);
    --selectedRow: #cce5ff;
    --updatedEmployee: #1475d6ff;
    --deletedEmployee: var(--mainRed);
    --toggleCircleBg: rgba(0, 0, 0, 0.35);
    --greenToggleBg: rgb(0, 170, 0);
    --infoBorder: #252525c4;
    --infoBg: #ebebeb;
    --infoText: #262626;
    --infoCloseBg: #efefef;
    --backPortfolioActive: #b7b7b7;
    --backPortfolioHover: #dcdcdc;
}

html.dark {
    --fadingWhite: var(--textColor);
    --userBorder: #405d7c;
    --mainRed: #68170d;
    --mainRedHover: #742318;
    --mainRedActive: #4f130d;
    --secondaryRed: #9f1e1a;
    --pressSecondaryRed: #7a1913;
    --hoverSecondaryRed: #af1e20;
    --bgColor: #1f2831;
    --boxStyleBg: #667886bf;
    --logoColor: rgb(255, 255, 255);
    --textColor: rgb(230, 230, 230);
    --smallColorBlack: rgba(255, 255, 255, 0.6);
    --smallColorWhite: rgba(255, 255, 255, 0.6);
    --inputBg: rgba(0, 0, 0, 0.233);
    --selectedRow: #002a7271;
    --updatedEmployee: rgb(134, 201, 255);
    --deletedEmployee: #5e0000;
    --toggleCircleBg: var(--inputBg);
    --greenToggleBg: rgb(0, 126, 0);
    --infoBorder: #077bff;
    --infoBg: #adcbeb;
    --infoText: #004085;
    --infoCloseBg: #4eb2ff;
    --backPortfolioActive: #2f3a40bf;
    --backPortfolioHover: #4f616cbf;
}

html.brNo {
    --borderRadius: 0px;
}

html.brMedium {
    --borderRadius: 10px;
}

html.brHigh {
    --borderRadius: 20px;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    scrollbar-color: var(--mainRed) var(--boxStyleBg);
}

main,
footer {
    transition: opacity 0.5s ease;
}

body {
    min-width: 320px;
    max-width: 1550px;
    background-color: var(--bgColor);
    margin: 0px auto;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

a {
    transition: color 0.7s ease, border-radius 0.7s ease;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.buttonRed {
    background-color: var(--secondaryRed);
}

.buttonRed:active {
    background-color: var(--pressSecondaryRed);
    transform: scale(var(--scaleBtn));
}

/* Save invoice and save settings*/
.buttonMainRed {
    background-color: var(--mainRed);
}

.buttonMainRed:active {
    background-color: var(--mainRedActive);
}

a#backPortfolio {
    display: inline-block;
    margin: 10px 0px 20px 10px;
    font-size: 14px;
    color: var(--textColor);
    background-color: var(--boxStyleBg);
    padding: 4px 10px;
    border-radius: var(--borderRadius);
    border: 1px solid black;
    text-decoration: none;
}

a#backPortfolio:active {
    background-color: var(--backPortfolioActive);
    transform: scale(var(--scaleBtn));
}

p,
label {
    font-size: 16px;
    margin: 0px;
    color: var(--textColor);
    transition: color 0.7s ease;
}

label {
    -webkit-tap-highlight-color: transparent;
}

input,
label,
button,
textarea {
    font-size: 16px;
}

input,
textarea {
    padding: 8px 10px;
    border: 2px solid rgba(0, 0, 0, 0.28);
    border-radius: var(--borderRadius);
    color: var(--textColor);
    background-color: var(--inputBg);
    transition: border-radius 0.7s ease,
        background-color 0.7s ease,
        color 0.7s ease;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: rgb(128, 184, 241);
}

.updateSvgBlack {
    fill: var(--smallColorBlack);
    width: 18px;
}

.updateSvgWhite {
    fill: var(--smallColorWhite);
    width: 18px;
}

small {
    color: var(--textColor);
    font-size: 14px;
}

.smallBlack {
    color: var(--smallColorBlack);
}

.smallWhite {
    color: var(--smallColorWhite);
}

#mainContainer {
    margin: 50px 20px 0px 20px;
}

/* Reusable classes for boxes in sections/routes */
/* Globals */
div.currentRoute {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

div.currentRoute svg {
    fill: #E63946;
    width: clamp(30px, 5vw, 34px);
}

div.currentRoute h2 {
    font-size: clamp(25px, 4.2vw, 33px);
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    margin: 3px 0px 0px 0px;
    letter-spacing: 2px;
    color: var(--textColor);
    transition: color 0.7s ease;
}

.routeCont {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.routeCRUD {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.flexGroup {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

svg.box {
    width: 25px;
    fill: var(--fadingWhite);
}

h3.box {
    font-size: 20px;
    margin: 0px;
    color: var(--fadingWhite);
}

div.crudShowCont h4 {
    font-size: 18px;
}

div.boxStyle {
    margin: auto;
    background-color: var(--boxStyleBg);
    border-radius: var(--borderRadius);
    border: 1px solid rgba(0, 0, 0, 0.28);
    width: 93%;
    max-width: 410px;
}

div.contentBox {
    padding: 22px 16px;
}

#patientsTodayCont,
#staffTodayCont {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    padding: 15px 0px;
    min-height: 119px;
    width: 100%;
}

div#patientsTodayCont {
    max-width: 203px;
}

div#staffTodayCont {
    max-width: 260px;
}

div#patientsTodayCont p:last-child,
div#staffTodayCont p:last-child {
    font-size: 22px;
    font-weight: bold;
}

div#patientsTodayCont div:first-child,
div#staffTodayCont div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

div.titleBox {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--mainRed);
    border-top-left-radius: calc(var(--borderRadius) - 1px);
    border-top-right-radius: calc(var(--borderRadius) - 1px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    padding: 10px 0px;
}

div.titleSVG {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

div.updateCont {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.XYAxis text {
    font-size: 13px;
    fill: var(--textColor);
}

.XYAxisSmall text {
    font-size: 13px;
    fill: var(--textColor);
}

.YStaff .recharts-label tspan {
    font-size: 14px;
}

.tooltipChart div {
    font-size: 16px;
}

.legendCont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.legendSymbolPill {
    width: 20px;
    height: 12px;
    margin-top: 2px;
    border-radius: 10px;
    background-color: var(--secondaryRed);
}

#legendSymbolPatients {
    width: 20px;
    height: 12px;
    margin-top: 1px;
    background-color: var(--secondaryRed);
}

.legendSymbolBar {
    width: 16px;
    height: 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1.5px;
    background-color: var(--secondaryRed);
}

.legendSymbolLine {
    margin-top: 2px;
    width: 28px;
    height: 16px;
}

.legendText {
    color: var(--textColor);
    font-size: 18px;
}

/* Download chart button */
.downloadChartBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 14px auto 0px auto;
    padding: 8px 13px 8px 8px;
    color: var(--fadingWhite);
    border: none;
    border-radius: var(--borderRadius);
}

.downloadChartBtn svg {
    width: 33px;
    fill: var(--fadingWhite);
}

/* No interaction */
body.noInteraction {
    overflow: hidden;
}

main.noInteraction,
footer.noInteraction {
    pointer-events: none;
    opacity: 0.2;
}

/* Accessibility*/
*:focus-visible {
    outline: 1px solid var(--textColor);
    outline-offset: 5px;
}