/* Global styles */
:root {
    --mainRed: #AE3626;
    --backgroundBox: #f0f0f067;
    --scale-font: clamp(19px, 4vw, 30px);
}

* {
    box-sizing: border-box;
    font-family: 'Tahoma', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

button,
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

a#torna_portfolio {
    display: inline-block;
    margin: 10px 0px 40px 10px;
    font-size: 14px;
    color: black;
    background-color: #2354ae48;
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid black;
    text-decoration: none;
    outline-offset: 5px;
    outline-color: #000;
}

a#torna_portfolio:active {
    background-color: #2354ae62;
}

p {
    font-size: 16px;
    margin: 0px;
    color: black;
}

input,
label,
button {
    font-size: 16px;
}

small {
    font-size: 14px;
    color: rgb(72, 72, 72);
}

.updateSvg {
    fill: rgb(72, 72, 72);
    width: 18px;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    min-width: 320px;
    max-width: 1550px;
    background-color: white;
    margin: 0px auto;
}

#mainContainer {
    margin: 50px 20px 0px 20px;
}

/* Reusable classes for boxes in sections/routes */
/* Globals */
div.currentRoute {
    display: flex;
    gap: 15px;
    margin: 0px 0px 25px 5px;
}

div.currentRoute svg {
    fill: var(--mainRed);
    width: clamp(30px, 5vw, 34px);
}

div.currentRoute h2 {
    font-size: clamp(25px, 4.2vw, 33px);
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    margin: 5px 0px 0px 0px;
    letter-spacing: 2px;
}

.routeCont {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.routeCRUD {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flexGroup {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

svg.box {
    width: 25px;
    fill: var(--mainRed);
}

h3.box {
    font-size: 20px;
    margin: 0px;
}

div.crudShowCont h4 {
    font-size: 18px;
}

/* Home */
div.boxStyle {
    margin: auto;
    padding: 23px 16px;
    background-color: var(--backgroundBox);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    width: clamp(340px, 78vw, 430px);
}

#patientsTodayCont,
#staffTodayCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 143px;
    width: 100%;
}

div#patientsTodayCont {
    max-width: 203px;
}

div#staffTodayCont {
    max-width: 260px;
}

div#patientsTodayCont p:last-child,
div#staffTodayCont p:last-child {
    font-size: 22px;
    font-weight: bold;
}

div#patientsTodayCont div:first-child,
div#staffTodayCont div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

div.titleBox {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 0px auto 6px auto;
}

div.updateCont {
    display: flex;
    gap: 5px;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 22px;
}