/* For devices like iPhone SE */
@media (max-width: 370px) {

    /* General */
    body #mainContainer {
        margin: 50px 13px 0px 13px;
    }

    body div.boxStyle {
        max-width: 280px;
    }

    body .confirmMessageCont {
        width: 185px;
    }

    /* Route: /staff */
    body #staffListCont table tbody tr td,
    body #patientsListCont table tbody tr td {
        font-size: 12px;
    }

    body #staffListCont table th,
    body #staffListCont table td,
    body #patientsListCont table th,
    body #patientsListCont table td {
        padding: 0px 4px 3px 4px;
    }

    body #staffListCont input#staffFilterInput,
    body #patientsListCont input#patientsFilterInput {
        width: 190px;
    }
}

/* For mobile devices in landscape mode */
@media (orientation: landscape) and (pointer: coarse) and (max-width: 1000px) {

    /* Route: /app */
    body .menuUl {
        max-height: 62svh;
    }
}

/* For tablets */
@media (min-width: 600px) and (min-height: 600px) {

    /* Route: /app */
    body .menuUl li a {
        font-size: 21px;
    }

    body .menuUl svg {
        width: 37px;
    }

    body #adminButton {
        font-size: 18px;
    }

    body #adminButton svg {
        width: 13px;
    }

    body .adminSettingsUl li {
        font-size: 16px;
    }

    body #logoComponent {
        width: 110px;
    }

    body #headerContainer {
        padding: 33px 15px;
    }

    body .flexGroup {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }

    body #recoveryMainCont {
        min-width: 569px;
    }

    body #revenueMainCont {
        min-width: 569px;
    }

    body div.boxStyle {
        margin: 0px;
    }

    body .routeCRUD {
        align-items: center;
    }

    body footer p,
    body footer a {
        font-size: 18px;
    }

    body footer svg {
        width: 29px;
    }

    body #patientsTodayCont {
        min-height: 146px;
        max-width: 240px;
    }

    body #staffTodayCont {
        min-height: 146px;
        max-width: 300px;
    }

    body div#appointmentsCont {
        min-height: 592px;
    }

    body div#notificationsCont {
        min-height: 359px;
    }

    body p {
        font-size: 18px;
    }

    body .confirmMessageCont {
        width: 320px;
    }

    body a#torna_portfolio {
        margin: 15px 0px 40px 15px;
        font-size: 18px;
    }

    div.currentRoute {
        margin: 0px 0px 25px 20px;
    }

    body .updateSvg {
        width: 19px;
    }

    body small {
        font-size: 15px;
    }

    body div#patientsTodayCont p:last-child,
    body div#staffTodayCont p:last-child {
        font-size: 24px;
    }

    body svg.box {
        width: 28px;
    }

    body h3.box {
        font-size: 23px;
    }

    body div#recoveryInfoCont svg {
        width: 30px;
    }

    body div#appointmentsCont h4 {
        font-size: 19px;
    }

    body div#appointmentsCont .appointmentsUl li {
        font-size: 18px;
    }

    body div#allNotificationsCont h4 {
        font-size: 19px;
    }

    /* Route: /staff */

    body #staffListCont {
        min-height: 454px;
    }

    body #staffScheduleCont {
        min-height: 405px;
    }

    body .listFilterCont svg {
        width: 22px;
        left: 8px;
    }

    body input,
    body label,
    body button {
        font-size: 17px;
    }

    body #staffListCont input#staffFilterInput,
    body #patientsListCont input#patientsFilterInput {
        width: 300px;
    }

    body #staffListCont table thead th,
    body #patientsListCont table thead th {
        font-size: 18px;
    }

    body #staffListCont table tbody tr td,
    body #patientsListCont table tbody tr td {
        font-size: 15px;
    }

    body p#employeeDetails,
    body p#patientName {
        font-size: 28px;
    }

    body div#employeeMailCont svg,
    body div#employeePhoneCont svg {
        width: 24px;
    }

    body .crudFeatures {
        font-size: 20px;
    }

    body .crudActionsCont button {
        width: 47px;
        height: 47px;
    }

    body .crudActionsCont svg {
        width: 36px;
    }

    body form .sectionTitle {
        font-size: 19px;
    }

    /* Route: /patients */
    body #patientsListCont {
        min-height: 417px;
    }

    body #anamnesiCont h4,
    body #prescriptionsCont h4 {
        font-size: 21px;
    }

    body #anamnesiCont svg,
    body #prescriptionsCont svg {
        width: 24px;
    }
}

/* For desktop mode */
@media (min-width: 1200px) and (pointer: fine) {

    /* General */
    body a#torna_portfolio {
        position: absolute;
    }

    body #healthDashCont {
        padding-top: 20px;
    }

    /* Home */
    body div.currentRoute {
        margin-left: 30px;
        justify-content: flex-start;
    }

    body button.hamburger {
        display: none;
    }

    body .menuUl {
        transform: scaleY(1);
        height: 100vh;
        gap: 20px;
        pointer-events: auto;
    }

    body header {
        position: fixed;
        width: 230px;
        left: max(0px, calc((100vw - 2100px) / 2));
        height: 100vh;
    }

    body #logoComponent {
        margin-top: 4rem;
    }

    body .menuUl li:first-child {
        margin-top: 100px;
    }

    body #adminButton {
        position: fixed;
        right: max(15px, calc((100vw - 2100px) / 2 + 15px));
        top: 15px;
        background-color: var(--mainRed);
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid white;
    }

    body #adminWrapper {
        position: fixed;
        right: max(15px, calc((100vw - 2100px) / 2 + 15px));
        top: 15px;
    }

    body main {
        width: calc(100% - 230px);
        position: relative;
        left: 230px;
    }

    body #mainContainer {
        margin: 55px 0px 0px 0px;
    }

    body div.boxStyle {
        width: clamp(390px, 33vw, 470px);
    }

    body #recoveryMainCont,
    body #revenueMainCont {
        min-width: auto;
        width: clamp(390px, 33vw, 500px);
    }

    /* Staff */

    body #staffListCont {
        min-height: auto;
        height: 560px;
    }

    body #staffScheduleCont {
        min-height: 400px;
    }

    body p#employeeSchedule {
        margin: 10px auto 15px auto;
    }

    body #staffListCont .tableWrapper {
        height: 320px;
    }

    body #patientsListCont .tableWrapper {
        height: 522px;
    }

    body .confirmMessageCont {
        left: calc(50% + 115px);
    }

    /* Footer */
    body footer {
        width: calc(100% - 230px);
        position: relative;
        left: 230px;
        margin: 5rem 0px 2.2rem 0px;
    }
}

@media (min-width: 1300px) and (pointer: fine) {

    body #staffListCont table tbody tr td,
    body #patientsListCont table tbody tr td {
        font-size: 16px;
    }
}