/* General style */

.flexSettings {
    margin: auto;
    background-color: var(--boxStyleBg);
    border-radius: var(--borderRadius);
    border: 1px solid rgba(0, 0, 0, 0.28);
    width: 93%;
    max-width: 410px;
    padding: 22px 16px;
    transition: border-radius 0.7s ease,
        background-color 0.7s ease,
        color 0.7s ease;
}

.flexSettings h3 {
    font-size: 17px;
    margin: 0px;
    color: var(--textColor);
    transition: color 0.7s ease;
}

/* User settings */
#userSettingsCont {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 30px;
}

#saveUserChanges {
    color: var(--fadingWhite);
    border: none;
    padding: 8px 3rem;
    border-radius: var(--borderRadius);
    margin: 3rem auto 0rem auto;
    width: fit-content;
    display: block;
}

/* UI preferences */
#UISelectorsCont {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}