p#deletedEmployee,
p#deletedPatient {
    margin-top: 20px;
    text-align: center;
}

.deleteActions {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 50px;
}

.deleteActions button {
    font-weight: normal;
    border: 1px solid black;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.253);
    border-radius: 3px;
    padding: 4px 8px;
}

.deleteActions button:nth-child(1) {
    color: white;
    background-color: #2563EB;
}

.deleteActions button:nth-child(1):active {
    background-color: #1d50bd;
}

.deleteActions button:nth-child(2) {
    color: white;
    background-color: rgb(221, 28, 44);
}

.deleteActions button:nth-child(2):active {
    background-color: rgb(191, 0, 14);
}
