div.boxStyleStaff {
    margin: auto;
    padding: 23px 5px;
    background-color: var(--backgroundBox);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.28);
}

#staffListCont {
    width: 100%;
    max-width: 365px;
    min-height: 444px;
    text-align: center;
}

#staffListCont p:nth-of-type(1) {
    margin-bottom: 15px;
}

#staffFilterCont {
    width: fit-content;
    position: relative;
    margin: 5px auto 18px auto;
}

#staffFilterCont svg {
    fill: black;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    pointer-events: none;
}

#staffListCont input#staffFilterInput {
    width: 267px;
    padding: 8px 12px 8px 33px;
    border: 2px solid rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

#staffListCont input#staffFilterInput:focus {
    outline: none;
    border-color: #2e7cd0;
}

#staffListCont table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

#staffListCont #tableWrapper {
    height: 210px;
    overflow-y: auto;
}

#staffListCont table thead th {
    position: sticky;
    top: 0;
    background-color: var(--mainRed);
    color: white;
    font-size: 16px;
}

#staffListCont table tbody {
    cursor: pointer;
}

#staffListCont table th,
#staffListCont table td {
    padding: 0px 13px 3px 13px;
}

#staffListCont table tbody tr:first-child td {
    padding-top: 12px;
}

#staffListCont table tbody tr td {
    padding-top: 28px;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.227);
}

#staffListCont tr.selectedEmployee {
    background-color: #cce5ff;
    font-style: italic;
    transition: background-color 0.3s ease-in-out; 
}