#staffListCont {
    min-height: 444px;
    text-align: center;
    padding: 23px 5px;
}

#staffListCont p:nth-of-type(1) {
    margin-bottom: 15px;
}

.listFilterCont {
    width: fit-content;
    position: relative;
    margin: 5px auto 18px auto;
}

.listFilterCont svg {
    fill: black;
    position: absolute;
    left: 7px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    pointer-events: none;
}

#staffListCont input#staffFilterInput,
#patientsListCont input#patientsFilterInput {
    width: 267px;
    padding: 8px 12px 8px 33px;
    border: 2px solid rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

#staffListCont input#staffFilterInput:focus,
#patientsListCont input#patientsFilterInput:focus {
    outline: none;
    border-color: #2e7cd0;
}

#staffListCont table,
#patientsListCont table {
    table-layout: fixed;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    will-change: transform;
}

#staffListCont .tableWrapper,
#patientsListCont .tableWrapper {
    height: 210px;
    overflow-y: auto;
}

#staffListCont table thead th,
#patientsListCont table thead th {
    position: sticky;
    top: 0;
    background-color: var(--mainRed);
    color: white;
    font-size: 16px;
}

#staffListCont table tbody,
#patientsListCont table tbody {
    cursor: pointer;
}

#staffListCont table th,
#staffListCont table td,
#patientsListCont table th,
#patientsListCont table td {
    padding: 0px 9px 3px 9px;
}

#staffListCont table tbody tr:first-child td,
#patientsListCont table tbody tr:first-child td {
    padding-top: 12px;
}

#staffListCont table tbody tr td,
#patientsListCont table tbody tr td {
    padding-top: 28px;
    font-size: 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.227);
}

#staffListCont tr.selectedRow,
#patientsListCont tr.selectedRow {
    background-color: #cce5ff;
    font-style: italic;
    transition: background-color 0.3s ease-in-out; 
}