div#revenueCont svg {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

small#lastMonthsHome {
  display: block;
  width: fit-content;
  margin: 4px auto 0px auto;
}