div#revenueCont svg {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

small#lastMonthsHome {
  display: block;
  width: fit-content;
  margin: auto;
  position: relative;
  bottom: 11px;
  left: 17px;
  z-index: 0;
}