/* Bottone */
#adminButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    border: none;
    padding: 0px;
    color: white;
    position: relative;
    background-color: transparent;
}

/* SVG freccetta */
#adminButton svg {
    width: 11px;
    stroke: white;
    transition: transform 0.2s ease;
    will-change: transform;
}

.rotate180Admin {
    transform: rotate(180deg) translateY(-5px);
}

/* Dropdown */
.adminSettingsUl {
    list-style-type: none;
    background-color: #cacaca;
    border-radius: 7px;
    margin: 0px;
    padding: 7px;
    position: absolute;
    top: calc(100% + 13px);
    right: 13px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    border: 2px solid black;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.772);
}

.adminSettingsUl li {
    color: black;
    padding: 3px;
    font-size: 14px;
}

.fadeDownAdmin {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}