/* Button */
#adminButton {
    display: flex;
    align-items: center;
    gap: 2px;
    border: none;
    padding: 0px;
    background-color: transparent;
}

#adminWrapper {
    position: relative;
}

/* Arrow and user svg */
#adminButton svg:last-child {
    width: 15px;
    stroke: var(--fadingWhite);
    transition: transform 0.3s ease, stroke 0.7s ease;
    will-change: transform;
    padding-bottom: 3px;
}

#adminButton svg:first-child {
    width: 37px;
    fill: var(--fadingWhite);
    transition: fill 0.7s ease;
}

.rotate180 {
    transform: rotate(180deg) translateY(-2px);
}

/* Dropdown user*/
.adminSettingsUl {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style-type: none;
    background-color: var(--mainRed);
    border-radius: var(--borderRadius);
    margin: 0px;
    padding: 5px 18px;
    position: absolute;
    top: calc(100% + 46px);
    right: 0px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    border: 2px solid black;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.532);
}

.fadeDownAdmin {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

/* Buttons inside <li> elements */
#adminMenu button {
    color: var(--fadingWhite);
    padding: 6px 3px;
    font-size: 14px;
    background-color: transparent;
    border: none;
}