#staffScheduleCont {
    min-height: 377px;
}

p#employeeSchedule {
    text-align: center;
    margin: 10px auto 30px auto;
    min-height: 38px;
}

#staffScheduleCont #employeeSchedulesCont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 75%;
    margin: auto;
}

#staffScheduleCont .dayShiftCont {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-bottom: 1px solid #ae362691;
}