div.currentRoute {
    display: flex;
    gap: 10px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

div.currentRoute svg {
    fill: var(--mainRed);
    width: 30px;
}

div.currentRoute h2 {
    font-size: 25px;
    font-family: Arial, 'Helvetica Neue', Helvetica, 'Liberation Sans', sans-serif;
    margin: 5px 0px 0px 0px;
    letter-spacing: 2px;
}