#healthDashCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#healthDashCont svg {
    fill: #E63946;
    width: clamp(44px, 6.5vw, 52px);
}

#healthDashCont h1 {
    letter-spacing: 1px;
    font-size: clamp(32px, 5vw, 40px);
    font-style: italic;
    color: var(--logoColor);
    margin: 0px;
    transition: color 0.7s ease;
}

#h2inDevelopment {
    margin: 0px 10px;
    text-align: center;
    font-weight: normal;
    color: gray;
    font-size: 23px;
}