#dateInvoice {
    width: 150px;
}

textarea {
    min-height: 120px;
    max-height: 210px;
    resize: vertical;
}

#saveInvoice {
    color: white;
    background-color: var(--secondaryRed);
    border: none;
    padding: 8px 4.4rem;
    border-radius: 6px;
    margin-top: 3rem;
    align-self: center;
}

#saveInvoice:active {
    background-color: #9a1c1e;
}