#dateInvoice {
    width: 150px;
}

textarea {
    min-height: 120px;
    max-height: 210px;
    resize: vertical;
}

#saveInvoice {
    color: var(--fadingWhite);
    border: none;
    padding: 8px 4rem;
    border-radius: var(--borderRadius);
    margin-top: 3rem;
    align-self: center;
}