#staffCrudCont {
    min-height: 243px;
}

.crudDescription {
    margin-top: 10px;
    text-align: center;
}

.crudFeatures {
    font-size: 18px;
    text-align: center;
    margin: 35px auto 0px auto;
}

.crudActionsCont {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 8px;
}

.crudActionsCont button {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: var(--mainRed);
    border: none;
    border-radius: 5px;
}

.crudActionsCont button:active {
    background-color: rgb(132, 39, 27);
}

.crudActionsCont svg {
    width: 28px;
    fill: white;
}