#staffCrudCont {
    min-height: 257px;
}

.crudDescription {
    text-align: center;
}

.crudFeatures {
    font-size: 18px;
    text-align: center;
    margin: 35px auto 0px auto;
}

.crudActionsCont {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 8px;
}

.crudActionsCont button {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background-color: var(--mainRed);
    border: none;
    border-radius: var(--borderRadius);
}

.crudActionsCont button:active {
    background-color: var(--mainRedActive);
    transform: scale(var(--scaleBtn));
}

.crudActionsCont svg {
    width: 25px;
    fill: var(--fadingWhite);
}